body{
    background-color: #031321;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1,h3,h2,span{
    color: white;
}
.containerOne{
    margin-top: 100px;
}
#chatButton{
  position: relative;
  background-color: #031321;
  font-weight: bold;
  display: inline-block;
  /* padding: 15px 30px; */
  margin-top: 30px;
  padding: 9px;
  align-items: center;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  font-family: 'Baloo Bhaijaan 2', cursive;
  border-radius: 20px;
  margin: 20px;
}
#chatButton:hover{
  cursor: pointer;
  color: black;
  background-color: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 40px #2196f3;
}
#logoImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }
  p{
    color: white;
  }
  .loader {
    border: 8px solid #f3f3f3; /* Light gray border */
    border-top: 8px solid #3498db; /* Blue border for animation */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Animation properties */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Starting position */
    }
    100% {
      transform: rotate(360deg); /* Full rotation */
    }
  }
  .containerThree{
    position: absolute;
    margin-left: 1174px;
    margin-bottom: 297px;
    top: 100;
    right: 500;
    height: 400px;
    width: 272px;
    background-color: red;
    border-bottom-left-radius: 300px;
  }
  .containerFour{
  position: absolute;
  margin-top: 970px;
  margin-right: 1174px;
  bottom: 100;
  left: 500;
  height: 268px;
  width:298px;
  background-color: red;
  border-top-right-radius: 300px;
  }
    
